<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Student management System</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/students}">Student</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/classrooms}">Class Room</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/employees}">Employee</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="card mt-5 mb-5">
            <div class="card-header">
                <div class="d-flex">
                    <div class="mr-auto p-2">
                        <h1>Create Employee Form</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form class="form-row" th:action="@{/employees}" th:object="${employee}" method="POST" >
                    <div class="form-group col-md-6">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="firstName" placeholder="Enter First Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="lastName" placeholder="Enter Last Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Gender</label>
                        <input type="text" class="form-control" name="gender" placeholder="Gender">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Date of Birth</label>
                        <input type="text" class="form-control"  name="birthDate" placeholder="Enter Date of Birth">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Place of Birth</label>
                        <input type="text" class="form-control" name="placeOfBirth" placeholder="Enter Place of Birth">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Current Address</label>
                        <input type="text" class="form-control" name="currentAddress" placeholder="Enter Current Address">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Phone</label>
                        <input type="text" class="form-control" name="phone" placeholder="Enter Phone">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter Email">
                    </div>
                    <div class="col-md-12 box-footer text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>