<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>student management system</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Student management System</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/students}">Student</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/classrooms}">Class Room</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="cog-lg-12 col-md-12 col-sm-12 container justify-content-center">
                <a class="btn btn-primary" th:href="@{/students}">Back</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">Create New Student</h1>
                <div class="card-body">
                    <form th:action="@{/students}" th:object="${student}" method="POST">
                        <div class="form-group col-md-12">
                            <label>First Name</label>
                            <input
                                class="form-control"
                                type="text"
                                name="firstName"
                                th:field="*{firstName}"
                                placeholder="First Name"
                            >
                        </div>
                        <div class="form-group col-md-12">
                            <label>Last Name</label>
                            <input
                                class="form-control"
                                type="text"
                                name="lastName"
                                th:field="*{lastName}"
                                placeholder="Last Name"
                            >
                        </div>
                        <div class="form-group col-md-12">
                            <label>Email</label>
                            <input
                                class="form-control"
                                type="text"
                                name="email"
                                th:field="*{email}"
                                placeholder="email"
                            >
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>